:root {
  /* Colors */
  --primary-color: #1c1c1c;
  --secondary-color: #ffffff;
  --color-blue: #1fb6ff;
  --color-purple: #7e5bef;
  --color-pink: #ff49db;
  --color-orange: #ff7849;
  --color-green: #13ce66;
  --color-yellow: #ffc82c;
  --color-gray-dark: #273444;
  --color-gray: #8492a6;
  --color-gray-light: #d3dce6;
  /* Padding */
  --padding-xs: 0.5rem;
  --padding-sm: 1rem;
  --padding-md: 1.5rem;
  --padding-lg: 2rem;
  --padding-xl: 2.5rem;
  /* Margin */
  --margin-xs: 0.5rem;
  --margin-sm: 1rem;
  --margin-md: 1.5rem;
  --margin-lg: 2rem;
  --margin-xl: 2.5rem;
  /* Spacing */
  --spacing-spacing-1: 0.25rem;
  --spacing-spacing-2: 0.5rem;
  --spacing-spacing-3: 0.75rem;
  --spacing-spacing-4: 1.5rem;
  --spacing-spacing-5: 3rem;
  --spacing-spacing-6: 3.75rem;
  --spacing-spacing-7: 6rem;
  --spacing-spacing-8: 9rem;
  --spacing-spacing-9: 11.25rem;
  --spacing-spacing-10: 11.25rem;
  --spacing-spacing-11: 16.5rem;
  /* Font Sizes */
  --font-size-base: 17px;
  --font-size-small: 14px;
  --font-size-medium: 20px;
  --font-size-large: 24px;
  --font-size-xlarge: 32px;
  --line-height-base: 1.75;
  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-book: 400;
  --font-weight-regular: 450;
  --font-weight-medium: 530;
  --font-weight-bold: 700;
  /* Breakpoints */
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --2xl: 1920px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-base);
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-weight: var(--font-weight-medium);
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 5rem;
}

h2 {
  font-size: 3.25rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.75rem;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  list-style-position: inside;
}

.innerWrapper {
  max-width: var(--2xl);
  margin: 0 auto;
  padding: 0 var(--padding-xl);
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--secondary-color);
    background-color: var(--primary-color);
  }
}

@media (max-width: 991px) {
  .innerWrapper {
    padding: 0 var(--padding-lg);
  }
}

@media (max-width: 767px) {
  .innerWrapper {
    padding: 0 var(--padding-sm);
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 0.75rem;
  }
}

@media (max-width: 320px) {
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--primary-color);
    background-color: var(--secondary-color);
  }
}
